[run]
branch = true
omit = *migrations*,
       *models*,
       *urls*,
       *test*,
       *admin*,
       ./config/settings/*,
       ./config/wsgi.py,
       *__init__*

[report]
show_missing = true
omit = *migrations*,
       *models*,
       *urls*,
       *apps*,
       *admin*,
       ./config/settings/*,
       ./config/wsgi.py,
       *__init__*